<div ng-controller="LoginController">
	

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
	      	<button type="button" ng-model="login" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    		<span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    		<span class="icon-bar"></span>
	      	</button>
	      	<a href="#/home" class="navbar-brand">
	      		<img src="/static/upcooking_logo_cropped.png" style="width: 120px;top: -10px; position: relative;" alt="Upcooking" class="brand-position">
	  		</a>
	      <!--a class="navbar-brand" href="#/home">Upcooking</a-->
	    </div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#/home">Home</a>
				</li>
				<li>
					<a ng-click="ifLoggedIn('create')" href="#/create">Host Meal</a>
				</li>
				<li ng-show="loggedIn">
					<a href="#/recipes">My Cookbook</a>
				</li>
				<li ng-show="loggedIn" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						{{ user.username }}
						<span class="badge">{{ user_profile.upcooking_score }}</span>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#/profile">My Profile</a></li>
					</ul>				
				</li>
				<li ng-show="!loggedIn">
					<a href ng-click="loginForm('home')">Login</a>
				</li>
				<li ng-show="!loggedIn">
					<a href ng-click="registerForm('home')">Register</a>
				</li>
				<li ng-show="loggedIn">
					<a href ng-click="logout('home')">Logout</a>				
				</li>
				<!-- <li>
					<a href ng-click="feedback()">Feedback</a>
				</li> -->
				<!-- <li>
					<a href ng-click="review()">Review Modal</a>
				</li> -->			</ul>
		</div>
	</div>
</div>

	
	
<!--scope issues with all these modals since they're not inside the -->
<div class="modal fade" id="logOutForm" ng-controller="LoginController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button ng-model="closemodal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Goodbye!</h4>
      </div>
      <div class="modal-body">
        <p>You have been successfully logged off. Thank you for Upcooking!</p>
      </div>
      <div class="modal-footer">
        <a ng-model="clickgohome1" ng-click="goHome()" type="button" class="btn btn-default">Home</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="loginForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button ng-model="closemodal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Let's get cooking!</h4>
      </div>
      <div class="modal-body">
		<form id="loginFormBody" class="form-inline" role="form">
		  <div class="form-group">
		    <label class="sr-only" for="exampleInputEmail2">Email address</label>
		    <input ng-model="login_form_data.username" class="form-control" id="exampleInputEmail2" placeholder="Enter username">
		  </div>
		  <div class="form-group">
		    <label class="sr-only" for="exampleInputPassword2">Password</label>
		    <input ng-model="login_form_data.password" type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> Remember me
		    </label>
		  </div>
		</form>	
		{{ login_error_message }}
      </div>
      <div class="modal-footer">
      	<a ng-click="regular_login()" class="btn btn-default">
			Sign In
        </a>
        or
    	<a href="/login/facebook/">
    		<img height="43" width="200" src="http://atbhubaneswar.com/images/facebook-login-button.png"/>
      	</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="registrationForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button ng-model="closemodal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Let's get cooking!</h4>
      </div>
      <div class="modal-body">
		
		<form id="registrationFormBody" role="form">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Username</label>
		    <input ng-model="registrationform.username" class="form-control" id="exampleInputEmail1" placeholder="Enter username">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input ng-model="registrationform.password1" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword2">Confirm Password</label>
		    <input ng-model="registrationform.password2" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		</form>
		<ul>
			<li ng-repeat="error in register_error_message.username" ng-show="register_error_message.username">
				Username: {{ error }}
			</li>
			<li ng-repeat="error in register_error_message.password1" ng-show="register_error_message.password1">
				Password: {{ error }}
			</li>
			<li ng-repeat="error in register_error_message.password2" ng-show="register_error_message.password2">
				Password2: {{ error }}
			</li>
		</ul>
      </div>
      <div class="modal-footer">
      	<a ng-click="regular_register()" class="btn btn-primary">
			Register
        </a>
        <a class="btn btn-default" data-dismiss="modal">
			Cancel
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="feedbackForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button ng-model="closemodal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Feedback</h4>
      </div>
      <div class="modal-body">
		<form id="feebackFormBody" class="form-horizontal" role="form" action="mailto:info@upcooking.com" method="post">
		  <div class="form-group">
		    <label for="feedbackEmail" class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		    	<input type="email" class="form-control" id="feedbackEmail" placeholder="Enter email">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="feedbackTitle" class="col-sm-2 control-label">Title</label>
		    <div class="col-sm-10">
		    	<input class="form-control" id="feedbackTitle" placeholder="Enter email">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="feedbackMessage" class="col-sm-2 control-label">Message</label>
		    <div class="col-sm-10">
		    	<textarea rows="5" class="form-control" id="feedbackMessage" placeholder="Enter feedback here"></textarea>
		    </div>
		  </div>
		</form>	
      </div>
      <div class="modal-footer">
      	<!-- not working -->
      	<button class="btn btn-primary" ng-click="sendFeedback()" data-dismiss="modal">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->	
<div class="modal fade" id="reviewModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      	 <button ng-model="closemodal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      	 <h4 class="modal-title">Meal Review</h4>      	
      </div>
      <div class="modal-body">
      	<div class="row">
			<div class="col-md-3">
				<img class="img-rounded thumbnail" width="100%" src="{{MEDIA_URL}}profiles/no-img.jpg" alt="...">
			</div>
       		<div class="col-md-9">
       			<a href="#"><h4>(Meal Name)</h4></a>
       			hosted by (hostName)</br>
       			on (mealDate)</br>
        	</div>
       </div>
		<form id="mealReviewFormBody" class="form-horizontal" role="form" action="mailto:info@upcooking.com" method="post">
		  <div class="form-group">
		    <label for="reviewRating" class="col-sm-2 control-label">Rating</label>
		    <div class="col-sm-10">
		    	<span class="glyphicon glyphicon-star-empty"></span>
		    	<span class="glyphicon glyphicon-star-empty"></span>
		    	<span class="glyphicon glyphicon-star-empty"></span>
		    	<span class="glyphicon glyphicon-star-empty"></span>
		    	<span class="glyphicon glyphicon-star-empty"></span>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="feedbackMessage" class="col-sm-2 control-label">Feedback</label>
		    <div class="col-sm-10">
		    	<textarea rows="5" class="form-control" id="feedbackMessage" placeholder="Enter feedback here"></textarea>
		    </div>
		  </div>
		</form>	
      </div>
      <div class="modal-footer">
      	<!-- not working -->
      	<button class="btn btn-primary" ng-click="sendFeedback()" data-dismiss="modal">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->	
</div>
