<style>
.active{
	background-color: #9EB6C4;
}	
</style>
<div class="page-header">
	<h1>Find some meals <small>don't go shopping when you're hungry</small></h1>
</div>
<div class="well well-lg" ng-controller="HostedMealController">
	<div class="row">
  		<div class="col-md-3">
			<div class="panel-group" id="accordion">
				<div class="panel panel-info" id="panel1">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">
								Food Filters
								<span class="glyphicon glyphicon-filter" style="float: right;"></span>
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							<input type="checkbox" ng-false-value="" ng-model="search.recipe_detail.is_vegetarian">
								<span class="label label-success">Vegetarian</span>
							</input></br>
						    <input type="checkbox" ng-false-value="" ng-model="search.recipe_detail.is_vegan">
						    		<span class="label label-default">Vegan</span>
							</input></br>
						    <input type="checkbox" ng-false-value="" ng-model="search.recipe_detail.is_gluten_free">
						    		<span class="label label-danger">Gluten Free</span>
						    </input></br>
						    <input type="checkbox" ng-false-value="" ng-model="search.recipe_detail.is_dairy_free">
						    		<span class="label label-primary">Dairy Free</span>
						    </input></br>
						    <input type="checkbox" ng-false-value="" ng-model="search.recipe_detail.is_nut_free">
						    		<span class="label label-warning">Nut Free</span>
						    </input></br>
						</div>
					</div>
				</div>
				<div class="panel panel-info" id="panel2">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo">
								Dining Options
								<span class="glyphicon glyphicon-filter" style="float: right;"></span>
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse in">
						<div class="panel-body" align="left">
							<div>
							    <input type="checkbox" ng-false-value="" ng-model="search.is_pickup">Is Pickup</button>
							</div>
							<div>
							    <input type="checkbox" ng-false-value="" ng-model="search.is_sitdown">Is Sit-down</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-info" id="panel3">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-target="#collapseThree" href="#collapseThree">
								Price Range
								<span class="glyphicon glyphicon-filter" style="float: right;"></span>
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse in">
						<div class="panel-body" align="left">
		    				<div class="row">
		    					<div class="col-xs-12 col-md-6">
				    				<label for="minPrice">Minimum Price</label>
				    				<input ng-model="search.min_price_per_serving" class="form-control" id="minPrice">
								</div>
		    					<div class="col-xs-12 col-md-6">
				    				<label for="maxPrice">Maximum Price</label>
				    				<input ng-model="search.max_price_per_serving" class="form-control" id="maxPrice">
								</div>    				
							</div>    							
							<slider ng-model-low="search.min_price_per_serving" ng-model-high="search.max_price_per_serving" floor="0" ceiling="100" step="1" handle="square"></slider>
						</div>
					</div>
				</div>
				<div class="panel panel-info" id="panel4">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-target="#collapseFour" href="#collapseFour">
								Proximity
								<span class="glyphicon glyphicon-filter" style="float: right;"></span>
							</a>
						</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse in">
						<div class="panel-body" align="left">
		    				<div class="row">
		    					<!-- <div class="col-xs-12 col-md-6">
				    				Within
				    				<input ng-model="search.num_search_miles" class="form-control" id="minPrice" ng-init="num_search_miles='5'"> miles
							</div> -->
		    					<div class="col-xs-12 col-md-12">
				    				Within
				    				<input ng-model="search.num_search_days" class="form-control" id="numDaystoSearch" ng-init="num_search_days='28'"> days
								</div>    				
							</div>
						</div>
					</div>
				</div>
			</div>
  		</div>
  		<div class="col-md-9">
			<div ng-repeat="day in days" ng-show="true">
				<div class="panel panel-info" ng-repeat="meal in day.meals | filter:fullFilter | orderBy:'local_start_time':false" ng-show="day.meals">
					<div class="panel-heading">
    						<h4 class="panel-title">
    							{{ meal.recipe_detail.name }} - {{ meal.local_start_time | date:'EEEE, MMMM d' }}
    						</h4>
  					</div>        
  					<div class="panel-body">
    						<div class="row">
      						<div class="col-md-2 text-center">
        						<img src="{{MEDIA_URL}}{{ meal.host_profile_detail.docfile }}" class="img-thumbnail"/>
        						<a href="/#/profile/{{ meal.creator_profile_id }}">{{ meal.host_detail.username }} <span class="badge">{{ meal.host_profile_detail.upcooking_score }}</span></a>
      						</div>
      						<div class="col-md-4">        
        							<ul class="list-group">
  									<li class="list-group-item" ng-show="meal.host_profile_detail.estimated_latitude != 0">
										<span class="badge">
  										<span class="glyphicon glyphicon-map-marker"></span>
										</span>
										<b>Location</b><br/>
										About {{ meal.host_profile_detail.estimated_latitude }} miles aways
									</li>
  									<li class="list-group-item">
										<span class="badge">
  										<span class="glyphicon glyphicon-cutlery"></span>
										</span>
										<b>Availability</b><br/>
										Only {{ meal.maximum_diners_allowed - meal.meal_purchases_detail.length }} spots left
  									</li>
  									<li class="list-group-item">
										<b>Tags: </b>
										<span ng-show="{{ meal.recipe_detail.is_vegetarian }}" class="label label-success">Vegetarian</span>
							    		<span ng-show="{{ meal.recipe_detail.is_vegan }}" class="label label-default">Vegan</span>
							    		<span ng-show="{{ meal.recipe_detail.is_gluten_free }}" class="label label-danger">Gluten Free</span>
							    		<span ng-show="{{ meal.recipe_detail.is_dairy_free }}" class="label label-primary">Dairy Free</span>
					    				<span ng-show="{{ meal.recipe_detail.is_nut_free }}" class="label label-warning">Nut Free</span>
									</li>
								</ul>
      						</div>
      						<div class="col-md-4">
        							<img src="{{MEDIA_URL}}{{ meal.recipe_detail.docfile }}" class="img-thumbnail col-md-12"/>
      						</div>
      						<div class="col-md-2">
        							<h1>{{ meal.price_per_serving | currency }}</h1>per person<br/><br/>
        							<a href="#/meal/{{ meal.id }}" class='btn btn-primary'>Purchase</a>
      						</div>
    						</div>
  					</div>
				</div>
			</div>
  		</div>
  	</div>
</div>
