<style>
.active{
	background-color: #9EB6C4;
}	
</style>
<div class="page-header">
  	<h1>My Profile <small>like facebook kinda...</small></h1>
</div>
<div class="well well-lg" ng-controller="UserProfileController">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-body" ng-mouseover="profile.show=true" >
					<a class="thumbnail" ng-init="profile.show=false">
						<img ng-mouseleave="profile.show=false" class="img-rounded" width="208" height="138" ng-src="{{MEDIA_URL}}{{ user_profile.docfile }}" alt="...">
					</a>
					<div ng-show="profile.show" style="position:relative; top: -60px; left: 3px; height: 0px; width: 208; vertical-align: center;">
						<button ng-model="changepicturebutton" ng-click="changePictureModal()" type="button" class="btn btn-default">change picture</button>
					</div> 
				</div>
				<div class="panel-footer" align="center">{{ user_profile.user_field.username }}</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						Personal Information (<a ng-click="editProfile()" style="cursor: pointer;">edit</a>)
					</h4>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">
							<span class="badge"><span class="glyphicon glyphicon-envelope"></span></span>
							<b>Email Address</b></br>
							{{ user_profile.user_field.email }}
						</li>
						<li class="list-group-item">
							<span class="badge"><span class="glyphicon glyphicon-phone"></span></span>
							<b>Phone Number</b></br>
							{{ user_profile.contact_phone }}
							<div ng-show="!user_profile.contact_phone">
								No phone number
							</div>
						</li>
						<li class="list-group-item">
							<span class="badge"><span class="glyphicon glyphicon-home"></span></span>
							<b>Address</b></br>
							<div ng-show="!user_profile.location">
								No address
							</div>
							<div ng-show="user_profile.location">
								{{ user_profile.location }} 
							</div>
						</li>
						<li class="list-group-item">
							<span class="badge"><span class="glyphicon glyphicon-usd"></span></span>
							<b>Payment Info</b></br>
							Paypal: {{ user_profile.paypal_payout_email }}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<!--
			<div class="panel panel-default">
				<div class="panel-heading">
					<b>Alerts</b>
				</div>
				<div class="panel-body">
					You have <a href="#">2 unread messages</a>.</br>
					You have <a href="#">1 meal</a> to review.
				</div>
			</div>
			-->
			<div class="row">
				<div class="col-md-5">
					<div class="panel panel-info">
						<div class="panel-heading">
							<div class="panel-title">
								Upcooking Info
							</div>
						</div>
						<div class="panel-body">
							<div class="list-group-item">
							    <h4 class="list-group-item-heading">
									Overall Score: {{ user_profile.upcooking_score }}
								</h4>
							</div>
							<div class="list-group-item">
							    <h4 class="list-group-item-heading">
									Badges Earned: None
								</h4>
							</div>
							<div class="list-group-item">
							    <h4 class="list-group-item-heading">
									Meals Hosted: <a href="#">{{ user_profile.hosted_meals.length }}</a>
								</h4>
							</div>
							<div class="list-group-item">
							    <h4 class="list-group-item-heading">
									Meals Attended: <a href="#">{{ user_profile.meals_attended.length }}</a>
								</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="panel panel-info">
						<div class="panel-heading">
							<div class="panel-title">
								Recent Reviews
							</div>
						</div>
						<div class="panel-body" style="height: 212px; overflow-y: auto;">
							<div class="list-group-item">
								<div class="row">
									<div class="col-md-4" align="center">
										<img class="img-thumbnail" src="{{MEDIA_URL}}{{ user_profile.docfile }}" width="100%"/></br>
										<span class="glyphicon glyphicon-star"></span>
										<span class="glyphicon glyphicon-star"></span>
										<span class="glyphicon glyphicon-star-empty"></span>
										<span class="glyphicon glyphicon-star-empty"></span>
										<span class="glyphicon glyphicon-star-empty"></span>
									</div>
									<div class="col-md-8">
									    <h4 class="list-group-item-heading">
											<a href="#">reviewer</a>
										</h4>
										<p class="list-group-item-text">
											This is a recent review, it kind of sucked etc etc and so on and so forth.
										</p>
									</div>
								</div>
							</div>
							<div class="list-group-item">
								<div class="row">
									<div class="col-md-4" align="center">
										<img class="img-thumbnail" src="{{MEDIA_URL}}{{ user_profile.docfile }}" width="100%"/></br>
										<span class="glyphicon glyphicon-star"></span>
										<span class="glyphicon glyphicon-star"></span>
										<span class="glyphicon glyphicon-star-empty"></span>
										<span class="glyphicon glyphicon-star-empty"></span>
										<span class="glyphicon glyphicon-star-empty"></span>
									</div>
									<div class="col-md-8">
									    <h4 class="list-group-item-heading">
											<a href="#">reviewer2</a>
										</h4>
										<p class="list-group-item-text">
											This is a recent review, it kind of sucked etc etc and so on and so forth.
										</p>
									</div>
								</div>
							</div>
							<div class="list-group-item">
								<div class="row">
									<div class="col-md-4" align="center">
										<img class="img-thumbnail" src="{{MEDIA_URL}}{{ user_profile.docfile }}" width="100%"/></br>
										<span class="glyphicon glyphicon-star"></span>
										<span class="glyphicon glyphicon-star"></span>
										<span class="glyphicon glyphicon-star-empty"></span>
										<span class="glyphicon glyphicon-star-empty"></span>
										<span class="glyphicon glyphicon-star-empty"></span>
									</div>
									<div class="col-md-8">
									    <h4 class="list-group-item-heading">
											<a href="#">reviewer3</a>
										</h4>
										<p class="list-group-item-text">
											This is a recent review, it kind of sucked etc etc and so on and so forth.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						About Me
					</h4>
				</div>
				<div class="panel-body">
					{{user_profile.about_me}}
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						Upcoming Events
					</h4>
				</div>
				<div class="panel-body">
					<h4><b>As Host</b></h4>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="meal in user_profile.hosted_meals | filter:activeMealsFilter">     
    						<div class="row">
	      						<div class="col-md-6">
        							Hosting <a href="#/meal/{{ meal.id }}">{{ meal.recipe.name }}</a> on {{ meal.start_time  | date:"longDate"}}
	      						</div>
	      						<div class="col-md-3" ng-show="meal.meal_purchases.length>=meal.minimum_diners_required">
	      							<span class="label label-success">Minimum reached!</span>
	      						</div>
	      						<div class="col-md-3" ng-show="meal.meal_purchases.length<meal.minimum_diners_required">
	        						<span class="label label-warning">Pending</span>
	      						</div>
	      						<div class="col-md-3" ng-show="meal.meal_purchases.length==meal.maximum_diners_allowed">
	        						<span class="label label-danger">Full</span>
	      						</div>
	      						<div class="col-md-2">
	        						{{ meal.meal_purchases.length }} / {{ meal.maximum_diners_allowed }}
	        					</br>
	        					{{meal}}
	      						</div>
	      						<div class="col-md-1">
	        						<a href="#">Edit...</a>
	      						</div>
    						</div>
						</li>
					</ul>
					<h4><b>As Attendee</b></h4>
					<ul class="list-group">
						<!-- need to do the same thing as above but for meals the user is attending once upcoming_events is non-empty -->
						<li class="list-group-item" ng-repeat="meal in user_profile.upcoming_events">      
    						<div class="row">
	      						<div class="col-md-6">
        							Attending <a href="#/meal/{{ meal.id }}">{{ meal.recipe.name }}</a> on {{ meal.start_time  | date:"longDate"}}
	      						</div>
	      						<div class="col-md-3" ng-show="meal.meal_purchases.length>=meal.minimum_diners_required && meal.meal_purchases.length<meal.maximum_diners_allowed">
	        						<span class="label label-success">Minimum reached!</span>
	      						</div>
	      						<div class="col-md-3" ng-show="meal.meal_purchases.length<meal.minimum_diners_required">
	        						<span class="label label-warning">Pending</span>
	      						</div>
	      						<div class="col-md-3" ng-show="meal.meal_purchases.length==meal.maximum_diners_allowed">
	        						<span class="label label-danger">Full</span>
	      						</div>
	      						{{meal}}
	      						<div class="col-md-2">
	        						{{ meal.meal_purchases.length }} / {{ meal.maximum_diners_allowed }}
	      						</div>
	      						<div class="col-md-1">
	        						<a href="#">Edit...</a>
	      						</div>
    						</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						Recent Activities
					</h4>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="recent_activity in user_profile.recent_activities">
							{{ recent_activity }}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="editprofilepicture">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button ng-model="closemodal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Edit profile picture</h4>
				</div>
				<div class="modal-body">
        			<p>
        				<form role="form">
	  					<div class="form-group" ng-class="{'has-error': profileImageFormErrors.docfile}">
    						<label for="recipeNameLabel">Select Profile Picture</label>
    						<div ng-repeat="error in profileImageFormErrors.docfile" ng-show="profileImageFormErrors.docfile">
    							<div class="alert alert-danger">
    								{{ error }}
    							</div>
    						</div>
    						<input
    							file-input="profileImageForm.docfile" 
    							type="file" 
    							class="form-control"/>
		  				</div>
        				</form>
        			</p>
	      		</div>
	      		<div class="modal-footer">
	        			<a ng-click="submitPictureForm()" type="button" class="btn btn-default btn-primary">Update</a>
	        			<a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
	      		</div>
	    		</div>
	  	</div>
	</div>


	<div class="modal fade" id="editprofile">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button ng-model="closemodal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Edit Personal Information</h4>
				</div>
				<div class="modal-body">
        			<p>
        				<form role="form">
        					<div class="form-group" ng-class="{'has-error': profileFormErrors.contact_phone}">
        						<label for="exampleInputEmail1">Contact Phone</label>
								<div ng-repeat="error in profileFormErrors.contact_phone" ng-show="profileFormErrors.contact_phone">
									<div class="alert alert-danger">
										{{ error }}
									</div>
								</div>
    							<input ng-model="user_profile.contact_phone" type="text" class="form-control" id="contact_phone" placeholder="555-5555">
	  						</div>
        					<div class="form-group" ng-class="{'has-error': profileFormErrors.location}">
        						<label for="exampleInputEmail1">Location</label>
								<div ng-repeat="error in profileFormErrors.location" ng-show="profileFormErrors.location">
									<div class="alert alert-danger">
										{{ error }}
									</div>
								</div>
    							<input ng-model="user_profile.location" type="text" class="form-control" id="location" placeholder="1234 America Drive">
	  						</div>
		  					<div class="form-group" ng-class="{'has-error': profileFormErrors.public_location}">  <!--todo fix me...public location is modifiable if "Lyon Village" is not specific enough or too specific, for example-->
        						<label for="exampleInputEmail1">Public Location</label>
								<div ng-repeat="error in profileFormErrors.public_location" ng-show="profileFormErrors.public_location">  <!--todo fix me-->
									<div class="alert alert-danger">
										{{ error }}
									</div>
								</div>
    							<input ng-model="user_profile.public_location" type="text" class="form-control" id="public_location" placeholder="USA">  <!--todo fix me-->
	  						</div>
        					<div class="form-group" ng-class="{'has-error': profileFormErrors.paypal_payout_email}">
	        					<label for="exampleInputEmail1">Paypal Email</label>
								<div ng-repeat="error in profileFormErrors.paypal_payout_email" ng-show="profileFormErrors.paypal_payout_email">
									<div class="alert alert-danger">
										{{ error }}
									</div>
								</div>
	    						<input ng-model="user_profile.paypal_payout_email" type="text" class="form-control" id="paypal_payout_email" placeholder="paypal payout email...">
	  						</div>
	  						<div class="form-group" ng-class="{'has-error': profileFormErrors.about_me}">
	        					<label for="exampleInputEmail1">About Me</label>
								<div ng-repeat="error in profileFormErrors.about_me" ng-show="profileFormErrors.about_me">
									<div class="alert alert-danger">
										{{ error }}
									</div>
								</div>
	    						<input ng-model="user_profile.about_me" type="text" class="form-control" id="about_me" placeholder="I love Upcooking...">
	  						</div>
        				</form>
        			</p>
	      		</div>
	      		<div class="modal-footer">
        			<a ng-click="updateProfile()" type="button" class="btn btn-default btn-primary">Update</a>
        			<a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
	      		</div>
	    	</div>
	  	</div>
	</div>
</div>

